<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

        <title>ft-scrolling-behavior Demo</title>

        <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

        <link rel="import" href="../../polymer/polymer.html">
        <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
        <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
        <link rel="import" href="demo-fixture.html">

        <style is="custom-style" include="demo-pages-shared-styles">
            body {
                background-color:#FAFAFA;
            }
            html, body {
                height:100%;
                margin:0;
            }
        </style>
    </head>

    <body>
        <demo-fixture
                style="height:100%; ">
        </demo-fixture>
    </body>

</html>
